html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(53, 50, 50);
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    position: relative;
    width: 500px;
    height: 600px;
    background: rgba(120, 207, 19, 0.877);
    border-radius: 60px;
    
}
.btn {
    transition: transform 0.1s, background-color 0.1s, border-color 0.1s, border-width 0.1s;
    width: 20%;
    height: 100%;
    border: 5px solid rgba(0, 89, 255, 0.678);
    background: rgba(255, 255, 255, 0.705);
    border-radius: 35px;
    font-weight: 600;
    font-size: 30px;
}

.btn:hover {
    transform: scale(1.1);
    border-width: 7px;
    border-color: rgba(0, 89, 255, 0.884);
    background-color: rgb(206, 233, 89);
}
.btn:active {
    border-width: 7px;
    border-color: rgba(0, 89, 255, 0.884);
    transform: scale(0.95);
    background-color: rgb(228, 243, 23);
}
.btn:focus {
    outline: none;
    
}
.btn:focus-visible{
    outline: 3px dashed rgb(1, 250, 13);
}
.btn:focus-visible:not(:active) {
    transform: scale(1.1);
    border-width: 7px;
    border-color: rgba(0, 89, 255, 0.884);
    background-color: rgb(206, 233, 89);
}



#display-field {
    transition: transform 0.1s, background-color 0.1s, border-color 0.1s, border-width 0.1s;
    position:absolute;
    width: 90%;
    height: 12%;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid rgba(0, 89, 255, 0.678);
    
    background: rgba(255, 255, 255, 0.705);
    border-radius: 60px;
}
#display-field:hover {
    border-width: 7px;
    border-color: rgba(0, 89, 255, 0.884);
    transform: scale(1.04);
    background-color: rgb(206, 233, 89);
}
#display-field:focus-visible {  
    outline: 3px dashed rgb(1, 250, 13);
    border-width: 7px;
    border-color: rgba(0, 89, 255, 0.884);
    transform: scale(1.04);
    background-color: rgb(206, 233, 89);
}

#first-row{
    position: absolute;
    width: 100%;
    height: 12%;
    top: 25%;
}
#division {
    position: absolute;
    
    right: 4%;
}

#del {
    position:absolute;
    
    right: 28%;
}


#percent {
    position: absolute;
    
    right:52%
}
#erase {
    position: absolute;
    
    right: 76%;
}

#second-row{
    position: absolute;
    width: 100%;
    height: 12%;
    top: 40%;
}
#third-row{
    position: absolute;
    width: 100%;
    height: 12%;
    top: 55%;
}
#forth-row{
    position: absolute;
    width: 100%;
    height: 12%;
    top: 70%;
}

#fifth-row {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 85%;
}




